In [8]:
import pandas as pd

In [116]:
df = pd.read_excel("Samuel_Project/SampleData.xlsx")
mean = df.mean()
print(mean)

DMSO        0.133000
0           0.128500
16          0.122167
16.1        0.136667
64          0.115833
64.1        0.117333
256         0.124333
256.1       0.126000
512         0.121167
512.1       0.133833
DMSO NEG    0.069333
dtype: float64

In [65]:
dfg = pd.read_excel("Samuel_Project/SampleDataGaps.xlsx")
dfg = dfg.dropna(how='all')
dfg = dfg.dropna(axis=1)

In [69]:
pd.read_excel("Samuel_Project/SampleData.xlsx")

,DMSO,0,16,16.1,64,64.1,256,256.1,512,512.1,DMSO NEG
0,0.062,0.104,0.062,0.109,0.079,0.075,0.070,0.089,0.066,0.106,0.029
1,0.136,0.120,0.125,0.153,0.123,0.129,0.133,0.130,0.126,0.128,0.073
2,0.170,0.153,0.151,0.147,0.135,0.124,0.166,0.144,0.149,0.174,0.092
3,0.132,0.127,0.129,0.135,0.122,0.122,0.128,0.130,0.122,0.125,0.073
4,0.157,0.141,0.144,0.138,0.119,0.124,0.129,0.136,0.134,0.133,0.082
5,0.141,0.126,0.122,0.138,0.117,0.130,0.120,0.127,0.130,0.137,0.067

In [167]:
dfV = df
dmsoPosMean = dfV["DMSO"].mean()
dmsoNegMean = dfV["DMSO NEG"].mean()
for c in dfV.columns:
    dfV[c] = 100*((dfV[c]-dmsoNegMean)/(dmsoPosMean-dmsoNegMean))  
normalizer = 100/(dfV["DMSO"].mean())
dfV1 = dfV.loc[:,"DMSO":"512.1"]
#loc: [rows,columns]
normalizedViability = dfV1.mean()*normalizer
normalizedFrame = normalizedViability.to_frame()
print(normalizedFrame)

                0
DMSO   100.000000
0       92.931937
16      82.984293
16.1   105.759162
64      73.036649
64.1    75.392670
256     86.387435
256.1   89.005236
512     81.413613
512.1  101.308901